extends layout

block content

  .row
    h1.text-center.my-5.text-white Accueil

    .offset-md-2.col-md-8
      .card
        .card-header 
          h4 Information
        .card-body
          p.lead
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis doloribus soluta a tenetur odit amet beatae omnis culpa hic maxime, voluptas minus! Voluptas dolore, ab sit illum similique vero officiis aut maxime praesentium est iste quae repellendus quia tenetur? Quibusdam quod, officia labore molestiae ad id voluptatum ipsa corporis nisi?
        .card-footer.d-flex.justify-content-between
          span Nombre de tweets au total d'enregistré:
          span.badge.bg-primary= counter