body {
  min-height: calc(100vh - 56px);
  background-color: cornflowerblue;
}

#avatar figcaption ul {
  list-style-type: none;
  padding-left: 0;
}
#avatar figcaption ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form label {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}
